<h1>New User Form</h1>

<% if flash[:alert] %>
	<% @user.errors.messages.each do |key, message| %>
		<strong><%= "#{key.to_s}: #{message.shift}" %></strong><br>
	<% end %>
	<br>
<% end %>	

<%= form_for(@user) do |f| %>
	<%= f.label :username, "Username: " %>
	<%= f.text_field :username %><br>

	<%= f.label :password, "Password: " %>
	<%= f.password_field :password %><br>

	<%= f.submit "Create User" %>

<% end %>