<%= form_for @book, url: user_books_path(current_user) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-title">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>

  </div>


  <%= button_tag "Select Author", type: "button", class: "select-author" %> or <%= button_tag "Create New Author", type: "button", class: "new-author"%>


  <div class="field-author"  style="display: none;">
    <strong>Author:</strong><br><br>

    <%= f.collection_radio_buttons :author_id, Author.all, :id, :name do |b| %>
      <%= b.radio_button %>

      <%= "#{b.text}" %>
    <% end %>
  </div> <br>


  <div class="field-newAuthor"  style="display: none;">
    <strong>New Author: </strong><br>

    <%= f.fields_for :author_attributes do |author_form| %>
      <%= author_form.label :name %>
      <%= author_form.text_field :name %>
    <% end %>  
  </div><br>

  <%= button_tag "Select Genre", type: "button", class: "select-genre" %> or <%= button_tag "Create New Genre", type: "button", class: "new-genre"%>

  </div>

  <div class="field-genre" style="display: none;">
    <strong>Genre:</strong><br><br>

    <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :title do |b| %>
      <%= b.radio_button %>

      <%= "#{b.text}" %>
    <% end %>
  </div> <br>


  <div class="field-newGenre" style="display: none;">
    <strong>New Genre: </strong><br>

    <%= f.fields_for :genre_attributes do |genre_form| %>
      <%= genre_form.label :title %>
      <%= genre_form.text_field :title %>
    <% end %>  
  </div> 


  <div class="actions"><br>
    <%= f.submit "Create Book", id: "submit-NewBook" %>
  </div>

<% end %>
