<%= render partial: 'show', locals: {book: @book} %>


<%= link_to("Add Book", addbook_path(@book) ,method: :post) if logged_in? && user_books.exclude?(@book) %>

<div id= "addBookLink" style="display: none;" >
	<%= link_to("Add Book", addbook_path(@book) ,method: :post) if logged_in? %> 
</div>

<% if logged_in? %>
	<%= link_to("Bookmarks", edit_user_book_path(@user_book), id: "bookmarks") if user_books.include?(@book) %><br>
	<%= link_to "Next", book_path(@book), class: "userBook", user_id: current_user.id, book_id: @book.id, user_book_ids: @user_book_ids %>
<% end %>


